@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}
:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #0ef;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

span {
  color: var(--main-color);
}

/* Portfolio section */
.portfolio {
  background: var(--second-bg-color);
}

.portfolio h2 {
  font-size: 5rem;
  margin-bottom: 6rem;
  text-align: center;
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2.5rem;
}

.portfolio-container .portfolio-box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--bg-color);
  overflow: hidden;
  display: flex;
}

.portfolio-box img {
  width: 100%;
  transition: 0.5s ease;
}

.portfolio-box:hover img {
  transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: 0.5s ease;
}

.portfolio-box:hover .portfolio-layer {
  transform: translateY(0);
}

.portfolio-layer h4 {
  font-size: 4.5rem;
}

.portfolio-layer p {
  font-size: 2rem;
  margin: 0.3rem 0 1rem;
}

.portfolio-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: var(--text-color);
  border-radius: 50%;
}

.portfolio-layer a i {
  font-size: 2rem;
  color: var(--second-bg-color);
}

/* BREAKPOINTS */
@media (max-width: 1720px) {
  html {
    font-size: 55%;
  }

  .portfolio-layer h4 {
    font-size: 4rem;
  }

  .portfolio-layer p {
    font-size: 2rem;
    margin: 0.3rem 0 1rem;
  }
}

@media (max-width: 1470px) {
  html {
    font-size: 55%;
  }

  .portfolio-layer h4 {
    font-size: 3.5rem;
  }

  .portfolio-layer p {
    font-size: 1.7rem;
    margin: 0.3rem 0 1rem;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }

  .portfolio-layer h4 {
    font-size: 2.8rem;
  }

  .portfolio-layer p {
    font-size: 1.3rem;
    margin: 0.3rem 0 1rem;
  }
}

@media (max-width: 991px) {
  .portfolio {
    padding-bottom: 7rem;
  }

  .contact {
    min-height: auto;
  }

  .portfolio-layer h4 {
    font-size: 2.4rem;
  }

  .portfolio-layer p {
    font-size: 1rem;
    margin: 0.3rem 0 1rem;
  }
}

@media (max-width: 768px) {
  .portfolio h2 {
    margin-bottom: 3rem;
  }

  .portfolio-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .portfolio-layer h4 {
    font-size: 3rem;
  }

  .portfolio-layer p {
    font-size: 1.5rem;
    margin: 0.3rem 0 1rem;
  }
}

@media (max-width: 603px) {
  .portfolio-layer h4 {
    font-size: 2rem;
  }

  .portfolio-layer p {
    font-size: 1.3rem;
  }

  .portfolio-layer a {
    width: 3.5rem;
    height: 3.5rem;
  }
}
@media (max-width: 475px) {
  .portfolio-layer h4 {
    font-size: 1.3rem;
  }

  .portfolio-layer p {
    font-size: 0.7rem;
  }

  .portfolio-layer a {
    width: 3rem;
    height: 3rem;
  }
}
